<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoApp</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
</head>
<style>
    input {
        padding: 7px;
    }
</style>
<body>
    <div class="justify-content-center text-center">
        <h3 class="mt-5">Create your ToDo now!</h3>
        <form action="/add_todo" method="POST">
            <input type="text" name="todo_text" placeholder="Add ToDo" style="margin: 0 3rem;">
            <button class="btn btn-primary" type="submit">Add ToDo</button>
        </form>
    </div>
    <br>
    <div class="row mt-5 justify-content-center text-center">
        <div class="col-12 table-responsive">
            <table class="table">
                <tbody>
                    {% for todo in todo_list %}
                    <tr>
                        <td>
                            <p class="lead">{{ todo.todo_text }}</p>
                        </td>
                        <td class="text-right">
                            <form method="POST" action="{% url 'delete_todo' todo.id %}">
                                <button type="submit" class="mx-2 btn btn-danger">DELETE</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>